{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'waiters/navbar.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container">
        <section class="order-status-section">
            <h1>Artículos pendientes de servir</h1>

            <div class="product-table">

                {% for order in orders %}

                    {# Buscar si hay artículos con estado preparado, sino no se muestran #}
                    {% set encontrado = "no" %}
                    {% for item in order.items %}
                        {% if item.status == "preparado" %}
                            {% set encontrado = "si" %}
                        {% endif %}
                    {% endfor %}

                    {% if encontrado == "si" %}
                        <h3>Comanda {{ order.id }}</h3>

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Artículo</th>
                                <th scope="col">Ubicación</th>
                                <th scope="col" class="status-th">Estado</th>
                                <th scope="col" class="status-th">Acciones</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for item in order.items %}
                                {% if item.status == "preparado" %}
                                    <tr>
                                        <th scope="row">
                                            <div>{{ item.product }}</div>
                                            {% for itemChoice in item.itemChoices %}
                                                <div><small>{{ itemChoice }}</small></div>
                                            {% endfor %}
                                        </th>

                                        <td>
                                            {{ order.tag.location }}
                                        </td>

                                        <td>
                                            {% if item.status == "activo" %}
                                                <div class="status-active">Pendiente de elaboración</div>
                                            {% elseif item.status == "preparado" %}
                                                <div class="status-prepared">Pendiente de servir</div>
                                            {% elseif item.status == "servido" %}
                                                <div class="status-served">Servido</div>
                                            {% endif %}
                                        </td>

                                        <td>
                                            <a href="{{ path('item_served', { item: item }) }}">
                                                <button type="button" class="btn btn-primary">Servido</button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- Fin product-table -->

        </section>
    </div>
{% endblock %}

{% block footer %}
    {% include 'waiters/footer.html.twig' %}
{% endblock %}