<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ asset('css/scrolling-nav.css') }}">

        <!-- My Custom styles for this template -->
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}

    <title>{% block title %}Tap to order - Restaurantes NFC{% endblock %}</title>
</head>
<body id="page-top">
    {% block navbar %}{% endblock %}
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block javascripts %}
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <!-- Plugin JavaScript -->
        <script src="{{ asset('js/scrolling-nav.js') }}"></script>

        <!-- Custom JavaScript for this theme -->
        <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
    {% endblock %}
</body>
</html>