<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('css/all.css') }}">

        <!-- Animate CSS -->
        <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">

        <!-- startbootstrap-4-col-portfolio-gh-pages -->
        <link rel="stylesheet" href="{{ asset('css/4-col-portfolio.css') }}">

        <!-- My Custom styles for this template -->
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}

    <title>{% block title %}Tap to order - Restaurantes NFC{% endblock %}</title>
</head>
<body>
    {% block navbar %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block javascripts %}
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <!-- WOW.js Library JavaScript -->
        <script src="{{ asset('js/wow.min.js') }}"></script>
        <script>
            new WOW().init();
        </script>
    {% endblock %}
</body>
</html>