{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Menú</h1>

    <h2>Lista de productos</h2>

    {% for product in products %}
        <a href="{{ path('product_show', {'categorySlug': categorySlug ,'subcategorySlug': subcategorySlug, 'productSlug': product.slug}) }}">
            <p><h1>{{ product.name }}</h1></p>
            <p>Imagen de {{ product.name }}</p>
        </a>
        <p>Descripción: {{ product.description }}</p>
        <p>Alérgenos:
            {% for allergen in product.allergens %}
                {{ allergen }},
            {% endfor %}
        </p>
        <p>Precio: {{ (product.price/100)|number_format(2,',','.') }}</p>
        <hr>
    {% else %}
        <p>
            No products have been found.
        </p>
    {% endfor %}
{% endblock %}













{#{% extends 'layout.html.twig' %}#}

{#{% block body %}#}
    {#<h1>Menú</h1>#}

    {#<h2>Lista de productos</h2>#}

    {#{% for product in products %}#}
        {#<a href="{{ path('product_show', {'categorySlug': categorySlug ,'subcategorySlug': subcategorySlug, 'productSlug': product.slug}) }}">#}
            {#<p>Imagen de {{ product.name }}</p>#}
            {#<p><h1>{{ product.name }}</h1></p>#}
        {#</a>#}
            {#<p>Descripción: {{ product.description }}</p>#}
            {#<p>Alérgenos:#}
                {#{% for allergen in product.allergens %}#}
                    {#{{ allergen }},#}
                {#{% endfor %}#}
            {#</p>#}
            {#<p>Precio: {{ (product.price/100)|number_format(2,',','.') }}</p>#}
        {#<hr>#}
    {#{% else %}#}
        {#<p>#}
            {#No products have been found.#}
        {#</p>#}
    {#{% endfor %}#}
{#{% endblock %}#}