{% extends 'layout.html.twig' %}

{% block body %}
    <h2>Pedido nº {{ order.id }}</h2>

    <table>
        <thead>
            <tr>
                <td>Cantidad</td>
                <td>Artículo</td>
                <td>Elección</td>
                <td>Precio unitario</td>
                <td>Subtotal</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product }}</td>
                    <td>
                        {% for itemChoice in item.itemChoices %}
                            {{ itemChoice }}
                        {% endfor %}
                    </td>
                    <td>{{ (item.price / 100)|number_format(2, '.') }} €</td>
                    <td>{{ (item.price / 100 * item.quantity)|number_format(2, '.') }} €</td>
                    <td>
                        <a href="{{ path('item_edit', { item: item }) }}">Modificar</a>
                        <a href="{{ path('item_delete', { item: item }) }}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>
                    Total =
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}