{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'frontend/navbar.html.twig' %}
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <!-- Flash message -->
        <div class="row">
            <div class="col-sm-12">
                {% for message in app.flashes('success') %}
                    <div class="mensaje alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <section class="order">
            <h1 class="my-4">Pedido nº {{ order.id }}</h1>

            <div class="product-table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Artículo</th>
                            <th scope="col">Precio unitario</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for item in order.items %}
                        <tr>
                            <th scope="row">
                                <div>{{ item.product }}</div>
                                {% for itemChoice in item.itemChoices %}
                                    <div><small>{{ itemChoice }}</small></div>
                                {% endfor %}
                            </th>

                            <td>
                                <div>{{ (item.product.price / 100)|number_format(2, '.') }} €</div>
                                {% for itemChoice in item.itemChoices %}
                                    <div><small>{{ (itemChoice.price / 100)|number_format(2, '.') }} €</small></div>
                                {% endfor %}
                            </td>

                            <td>
                                {{ item.quantity }}
                            </td>

                            <td>
                                {{ (item.price / 100 * item.quantity)|number_format(2, '.') }} €
                            </td>

                            <td>
                                <a href="{{ path('item_edit', { item: item }) }}">
                                    <button type="button" class="btn btn-warning">Modificar</button>
                                </a>
                                <a href="{{ path('item_delete', { item: item }) }}">
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Fin product-table -->

            <div class="ofertas-precio-total">
                <div class="ofertas col-xs-12 col-md-6">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Aplicar</button>
                    {{ form_end(form) }}
                </div>

                <div class="precio-total col-xs-12 col-md-6">
                    <p>Subtotal = {{ (order.subtotal / 100)|number_format(2, '.') }} €</p>
                    <p>Descuento = <span class="discount">{{ (order.discount / 100)|number_format(2, '.') }} €</span></p>
                    <h4>Total = <span class="total">{{ (order.total / 100)|number_format(2, '.') }} €</span></h4>
                    <a href="{{ path('order_add', { order: order }) }}">
                        <button type="button" class="btn btn-success">Finalizar</button>
                    </a>

                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer %}
    {% include 'frontend/footer.html.twig' %}
{% endblock %}